* {
  background-color: rgb(78, 78, 161);
}

.container {
  display: grid;
  grid-template-rows: 10% 15% 1fr;
  row-gap: 20px;
  justify-items: center;
  margin-left: 40%;
  margin-right: 60%;
  box-sizing: border-box;
}

.title {
  align-self: flex-end;
  padding: 5px;
  color: white;
  justify-self: left;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.result {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(40, 40, 109);
  background-color: rgb(40, 40, 109);
  color: white;
  justify-self: stretch;
  text-align: right;
  font-weight: bold;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.keypad {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(40, 40, 109);
  background-color: rgb(40, 40, 109);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 1fr) 2fr;
  padding: 40px;
  padding-bottom: 60px;
  grid-auto-flow: row;
  justify-content: space-around;
  gap: 7%;
}

.keypad div {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 13px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 105%;
}

.keypad div:hover,
.keypad div:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.keypad div:hover {
  transform: translateY(-1px);
}

.keypad div:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
